// font variables
$global-font-family: 'Roboto', sans-serif;

// color variables
$main-color: #bbe1fa;
$second-color: #3282b8;
$third-color: #0f4c75;
$fourth-color: #1b262c;
$main-font-color: black;
$second-font-color: white;