.moneyCard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 320px;
    height: 138px;

    .moneyContent {
        display: flex;
        justify-content: space-between;

        div:nth-child(1) {
            display: flex;
            flex-direction: row;

            img { padding: 0px 10px; }
            
            div { 
                flex-direction: column; 
            
                span:nth-child(2) { 
                    font-weight: 300;
                    font-size: 15px; 
                    opacity: 0.4; 
                }
            }
        }

        div:nth-child(2) {
            display: flex;
            flex-direction: column;


            span:nth-child(2) {
                font-weight: 300;
                font-size: 15px; 
                
                &.growing { color: green; }
                &.reducing { color: red; }
            }
        }
    }
}