.newsCard {
    border: 0.7px solid #DFE5F9;
    border-radius: 12px;
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;

    div:nth-child(1) {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        padding: 5px 0px 5px 20px;
    
        span {
            font-size: 11px;
            color: #2A2B31;
        }

        h3 {
            font-weight: normal;
            font-size: 13px;
            color: #42434B;
            margin-top: 20px;
            margin-bottom: 3px;
        }
    
        p {
            color: #42434B;
            opacity: 0.4;
            font-size: 12px;
            margin-top: 3px;
        }
    }

    div:nth-child(2) {
        width: 133px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background: linear-gradient(134.73deg, #0043FF -3.41%, #A370F1 100%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        border-radius: 0 10px 12px 0;

        span {
            font-size: 13px;
            font-weight: bold;
            color: #FFFFFF;
            padding: 10px;
        }
    }
}