@import "./assets/styles/globalVariables.scss";

#app {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 85px auto;
    grid-template-areas:
        "item-header"
        "item-main";

    header {
        grid-area: item-header;
    }

    main {
        grid-area: item-main;
        background-color: $second-color; // Temporal
        // height: 1000px; // Testing
    }

    #toolbar {
        grid-area: item-toolbar;
        display: none;
    }

    article .sectionContainer {
        display: flex;
        flex-flow: row nowrap;
        margin-left: 30px;
        margin-right: 30px;
    }

    section {
        margin: 10px;
    }
}

@media (min-width: $desktop-size) {
    $sidebarWidth: 215px;

    #app {
        grid-template-columns: $sidebarWidth auto;
        grid-template-rows: 65px auto;
        grid-template-areas:
            "none item-toolbar"
            "none item-main";

        header {
            position: fixed;
            width: $sidebarWidth;
            height: 100%;
        }
    }
}