.newsSection {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 5%;

    .newsHeader {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 15px;
            color: #000A12;
            font-weight: bold;

            &::before {
                content: " ";
                display: block;
                position: relative;
                width: 12px;
                height: 12px;
                left: -15px;
                bottom: -17px;
                clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                background: linear-gradient(122.37deg, #0043FF -6.89%, #A370F1 100%);
            }
        }

        button {
            height: 30px;
            padding: 0 10px;
            border: 0.7px solid rgba(48, 55, 80, 0.08);
            border-radius: 4px;
            background: #FFFFFF;
            font-size: 11px;
            color: #1F263E;

            &:focus {
                outline: 0;
            }
        }
    }
}