// color variables
$main-color: #ffffff;
$second-color: #f3f6fe;
$third-color: #1f263e;
$main-font-color: black;
$second-font-color: white;
$highlighted-blue: #50B8E4;

// media
$desktop-size: 700px;
