@import 'styles/global-variables.scss';

$highlighted-color: #50B8E4;
$hover-layer: rgba(255, 255, 255, 0.15);
$transtion-time: 0.3s;


.nav-item {
    display: flex;
    flex-flow: column nowrap;
    * { list-style: none; }    

    .main-item  {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px 10px 20px;

        &.activeLink {
            padding-left: 15px;
        }

        i {
            padding:  5px;  
        }

        // toggle animation
        .toggle {
            visibility: hidden;
            margin-left: auto;
            color: $highlighted-color;
            transition: transform $transtion-time ease-in-out;
        }
    }

    &.active .main-item .toggle {
        visibility: visible;
        transform: rotate(-90deg);
    }

    &.inactive .main-item .toggle {
        visibility: visible;
    }

    .main-item, .sub-item {
        color: white;

        &:hover {
            background-color: $hover-layer;
        }
    }

    & > .sub-items {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;

        .sub-item {
            display: flex;
            box-sizing: border-box;
            padding: 10px 0 10px 60px;
            width: 100%;

            &.activeLink {
                padding-left: 55px;
            }
        }

    // animation accordion 
        transition: max-height $transtion-time ease-in-out;
        overflow: hidden;
    }

    &.active .sub-items {
        max-height: 0px; 
    }

    &.inactive .sub-items {
        max-height: 500px;  
    }

    // current page
    .activeLink {
        background-color: $hover-layer;
        border-left: solid 5px $highlighted-color;
    }
}